<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="org.study.test.user.HobbyTypeHandler1" javaType="java.util.List" jdbcType="VARCHAR"/>
    </typeHandlers>

    <plugins>
        <!-- PageHelper 分页插件配置 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 使用 MySQL 方言的分页 -->
            <property name="helperDialect" value="mysql"/>
            <property name="pageSizeZero" value="true"/>
            <property name="supportMethodsArguments" value="true"/>
            <property name="params" value="pageNum=pageNum;pageSize=pageSize;"/>
        </plugin>
    </plugins>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis?serverTimezone=Asia/Shanghai&amp;useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="org/study/test/china/ProvinceMapper.xml"/>
        <mapper resource="org/study/test/china/CityMapper.xml"/>
        <mapper resource="org/study/test/china/AreaMapper.xml"/>

        <mapper resource="org/study/test/user/UserMapper.xml"/>
        <mapper resource="org/study/test/upsert/UserAccountRelationMapper.xml"/>
    </mappers>
</configuration>
