<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.study.test.user.BuySellDetailMapper">
    <resultMap id="BaseResultMap" type="org.study.test.user.BuySellDetail">
        <!--@mbg.generated-->
        <id column="code" jdbcType="BIGINT" property="code"/>
        <result column="rent_merchant_code" jdbcType="BIGINT" property="rentMerchantCode"/>
        <result column="rent_merchant_address" jdbcType="VARCHAR" property="rentMerchantAddress"/>
        <result column="rent_merchant_name" jdbcType="VARCHAR" property="rentMerchantName"/>
        <result column="return_merchant_code" jdbcType="BIGINT" property="returnMerchantCode"/>
        <result column="return_merchant_address" jdbcType="VARCHAR" property="returnMerchantAddress"/>
        <result column="return_merchant_name" jdbcType="VARCHAR" property="returnMerchantName"/>
        <result column="consumer_order_no" jdbcType="VARCHAR" property="consumerOrderNo"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        code, rent_merchant_code, rent_merchant_address, rent_merchant_name, return_merchant_code,
        return_merchant_address, return_merchant_name, consumer_order_no, gmt_create, gmt_modified
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from buy_sell_detail
        where code = #{code,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from buy_sell_detail
        where code = #{code,jdbcType=BIGINT}
    </delete>

    <insert id="insert" keyColumn="code" keyProperty="code" parameterType="org.study.test.user.BuySellDetail"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into buy_sell_detail (rent_merchant_code, rent_merchant_address,
        rent_merchant_name, return_merchant_code, return_merchant_address,
        return_merchant_name, consumer_order_no, gmt_create,
        gmt_modified)
        values (#{rentMerchantCode,jdbcType=BIGINT}, #{rentMerchantAddress,jdbcType=VARCHAR},
        #{rentMerchantName,jdbcType=VARCHAR}, #{returnMerchantCode,jdbcType=BIGINT},
        #{returnMerchantAddress,jdbcType=VARCHAR},
        #{returnMerchantName,jdbcType=VARCHAR}, #{consumerOrderNo,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP},
        #{gmtModified,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" keyColumn="code" keyProperty="code" parameterType="org.study.test.user.BuySellDetail"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into buy_sell_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rentMerchantCode != null">
                rent_merchant_code,
            </if>
            <if test="rentMerchantAddress != null">
                rent_merchant_address,
            </if>
            <if test="rentMerchantName != null">
                rent_merchant_name,
            </if>
            <if test="returnMerchantCode != null">
                return_merchant_code,
            </if>
            <if test="returnMerchantAddress != null">
                return_merchant_address,
            </if>
            <if test="returnMerchantName != null">
                return_merchant_name,
            </if>
            <if test="consumerOrderNo != null">
                consumer_order_no,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rentMerchantCode != null">
                #{rentMerchantCode,jdbcType=BIGINT},
            </if>
            <if test="rentMerchantAddress != null">
                #{rentMerchantAddress,jdbcType=VARCHAR},
            </if>
            <if test="rentMerchantName != null">
                #{rentMerchantName,jdbcType=VARCHAR},
            </if>
            <if test="returnMerchantCode != null">
                #{returnMerchantCode,jdbcType=BIGINT},
            </if>
            <if test="returnMerchantAddress != null">
                #{returnMerchantAddress,jdbcType=VARCHAR},
            </if>
            <if test="returnMerchantName != null">
                #{returnMerchantName,jdbcType=VARCHAR},
            </if>
            <if test="consumerOrderNo != null">
                #{consumerOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.study.test.user.BuySellDetail">
        <!--@mbg.generated-->
        update buy_sell_detail
        <set>
            <if test="rentMerchantCode != null">
                rent_merchant_code = #{rentMerchantCode,jdbcType=BIGINT},
            </if>
            <if test="rentMerchantAddress != null">
                rent_merchant_address = #{rentMerchantAddress,jdbcType=VARCHAR},
            </if>
            <if test="rentMerchantName != null">
                rent_merchant_name = #{rentMerchantName,jdbcType=VARCHAR},
            </if>
            <if test="returnMerchantCode != null">
                return_merchant_code = #{returnMerchantCode,jdbcType=BIGINT},
            </if>
            <if test="returnMerchantAddress != null">
                return_merchant_address = #{returnMerchantAddress,jdbcType=VARCHAR},
            </if>
            <if test="returnMerchantName != null">
                return_merchant_name = #{returnMerchantName,jdbcType=VARCHAR},
            </if>
            <if test="consumerOrderNo != null">
                consumer_order_no = #{consumerOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where code = #{code,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.study.test.user.BuySellDetail">
        <!--@mbg.generated-->
        update buy_sell_detail
        set rent_merchant_code = #{rentMerchantCode,jdbcType=BIGINT},
        rent_merchant_address = #{rentMerchantAddress,jdbcType=VARCHAR},
        rent_merchant_name = #{rentMerchantName,jdbcType=VARCHAR},
        return_merchant_code = #{returnMerchantCode,jdbcType=BIGINT},
        return_merchant_address = #{returnMerchantAddress,jdbcType=VARCHAR},
        return_merchant_name = #{returnMerchantName,jdbcType=VARCHAR},
        consumer_order_no = #{consumerOrderNo,jdbcType=VARCHAR},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
        where code = #{code,jdbcType=BIGINT}
    </update>

    <insert id="insertOrUpdate" keyColumn="code" keyProperty="code" parameterType="org.study.test.user.BuySellDetail"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into buy_sell_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            rent_merchant_code,
            rent_merchant_address,
            rent_merchant_name,
            return_merchant_code,
            return_merchant_address,
            return_merchant_name,
            consumer_order_no,
            gmt_create,
            gmt_modified,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=BIGINT},
            </if>
            #{rentMerchantCode,jdbcType=BIGINT},
            #{rentMerchantAddress,jdbcType=VARCHAR},
            #{rentMerchantName,jdbcType=VARCHAR},
            #{returnMerchantCode,jdbcType=BIGINT},
            #{returnMerchantAddress,jdbcType=VARCHAR},
            #{returnMerchantName,jdbcType=VARCHAR},
            #{consumerOrderNo,jdbcType=VARCHAR},
            #{gmtCreate,jdbcType=TIMESTAMP},
            #{gmtModified,jdbcType=TIMESTAMP},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="code != null">
                code = #{code,jdbcType=BIGINT},
            </if>
            rent_merchant_code = #{rentMerchantCode,jdbcType=BIGINT},
            rent_merchant_address = #{rentMerchantAddress,jdbcType=VARCHAR},
            rent_merchant_name = #{rentMerchantName,jdbcType=VARCHAR},
            return_merchant_code = #{returnMerchantCode,jdbcType=BIGINT},
            return_merchant_address = #{returnMerchantAddress,jdbcType=VARCHAR},
            return_merchant_name = #{returnMerchantName,jdbcType=VARCHAR},
            consumer_order_no = #{consumerOrderNo,jdbcType=VARCHAR},
            gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
        </trim>
    </insert>

    <insert id="insertOrUpdateSelective" keyColumn="code" keyProperty="code"
            parameterType="org.study.test.user.BuySellDetail" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into buy_sell_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                code,
            </if>
            <if test="rentMerchantCode != null">
                rent_merchant_code,
            </if>
            <if test="rentMerchantAddress != null">
                rent_merchant_address,
            </if>
            <if test="rentMerchantName != null">
                rent_merchant_name,
            </if>
            <if test="returnMerchantCode != null">
                return_merchant_code,
            </if>
            <if test="returnMerchantAddress != null">
                return_merchant_address,
            </if>
            <if test="returnMerchantName != null">
                return_merchant_name,
            </if>
            <if test="consumerOrderNo != null">
                consumer_order_no,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=BIGINT},
            </if>
            <if test="rentMerchantCode != null">
                #{rentMerchantCode,jdbcType=BIGINT},
            </if>
            <if test="rentMerchantAddress != null">
                #{rentMerchantAddress,jdbcType=VARCHAR},
            </if>
            <if test="rentMerchantName != null">
                #{rentMerchantName,jdbcType=VARCHAR},
            </if>
            <if test="returnMerchantCode != null">
                #{returnMerchantCode,jdbcType=BIGINT},
            </if>
            <if test="returnMerchantAddress != null">
                #{returnMerchantAddress,jdbcType=VARCHAR},
            </if>
            <if test="returnMerchantName != null">
                #{returnMerchantName,jdbcType=VARCHAR},
            </if>
            <if test="consumerOrderNo != null">
                #{consumerOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="code != null">
                code = #{code,jdbcType=BIGINT},
            </if>
            <if test="rentMerchantCode != null">
                rent_merchant_code = #{rentMerchantCode,jdbcType=BIGINT},
            </if>
            <if test="rentMerchantAddress != null">
                rent_merchant_address = #{rentMerchantAddress,jdbcType=VARCHAR},
            </if>
            <if test="rentMerchantName != null">
                rent_merchant_name = #{rentMerchantName,jdbcType=VARCHAR},
            </if>
            <if test="returnMerchantCode != null">
                return_merchant_code = #{returnMerchantCode,jdbcType=BIGINT},
            </if>
            <if test="returnMerchantAddress != null">
                return_merchant_address = #{returnMerchantAddress,jdbcType=VARCHAR},
            </if>
            <if test="returnMerchantName != null">
                return_merchant_name = #{returnMerchantName,jdbcType=VARCHAR},
            </if>
            <if test="consumerOrderNo != null">
                consumer_order_no = #{consumerOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>